/* Estilos generales */
body {
    background-color: white;
    font-family: Arial, sans-serif;
}

/* Fondo rojo del header y footer */
.bg-red {
    background-color: #d32f2f; /* Rojo fuerte */
}

/* Header con el texto a la izquierda y menú a la derecha */
header h2 {
    font-size: 20px;
    margin: 0;
}

/* Menú alineado a la derecha */
nav a {
    font-weight: bold;
    text-decoration: none;
}



/* Estilos del título principal */
.text-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Ajuste de párrafos */
.text-content p {
    font-size: 16px;
    text-align: justify;
    margin: 0 20px;
}
